<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="desafio">
  <h2>#01</h2>
  <div>
    <button @click='alternar'>Alternar</button>
    <p v-if='alternarParagrafo'>Você quer me ver...</p>
    <p v-else>...ou eu</p>
    <p v-show='alternarParagrafo'>Você quer me ver...</p>
    <p v-show='!alternarParagrafo'>...ou eu</p>
  </div>

  <h2>#02</h2>
  <ul>
    <li v-for='(brand, index) in brands' :key='index'>
      {{ index }} - {{ brand }}
    </li>
  </ul>

  <h2>#03</h2>
  <ul>
    <li v-for='(valor, campo) in livro'>
      {{ campo }}: {{ valor }}
    </li>
  </ul>

  <h2>#04</h2>
  <ul>
    <li v-for='valor in aluno'>
      <template v-if="!Array.isArray(valor)">{{ valor }}</template>
      <template v-else> Notas:
        <ul>
          <li v-for='nota in valor'>{{ nota }}</li>
        </ul>
      </template>
    </li>
  </ul>

</div>

<script src="./index.js"></script>
